{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="text-center mb-10">Review your order and make payment</h4>
    <div class="row">
        
        <aside class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                  
                  <p class="card-text mb-0">{{order.full_name}}</p>
                  <p class="card-text mb-0">{{order.address_line_1}}</p>
                  <p class="card-text mb-0">{{order.email}}</p>
                  <p class="card-text mb-0">{{order.phone}}</p>
                  
                </div>
            </div>
            {% comment %} <div class="card">
                <h5 class="card-header">Payment method</h5>
                <div class="card-body">
                  
                  <p class="card-text">Khalti</p>
                  
                </div>
            </div> {% endcomment %}
            <div class="card">
                <h5 class="card-header">Review Product</h5>
                <div class="card-body">
                  
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url}}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                        <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <!-- col.// -->
                                <label for="">{{cart_item.quantity}}</lable>
                            </td>
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">NPR {{cart_item.sub_total}}</var> 
                                    <small class="text-muted">NPR {{cart_item.product.price}} each</small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                  
                </div>
            </div>
            
    
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">NPR {{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">NPR {{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>NPR {{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/khalti.jpg' %}" height="26">
                </p>
                {% comment %} <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Make payment</a> {% endcomment %}
                <button id="payment-button">Pay with Khalti</button>
                <button id="cod-button">Pay with COD</button>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        function generate_uuidv4() {
            var dt = new Date().getTime();
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
            function( c ) {
               var rnd = Math.random() * 16;//random number in range 0 to 16
               rnd = (dt + rnd)%16 | 0;
               dt = Math.floor(dt/16);
               return (c === 'x' ? rnd : (rnd & 0x3 | 0x8)).toString(16);
            });
         }
        function sendData(data){
            fetch("http://127.0.0.1:8000/orders/payments/", {
                method : "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    orderID: data.product_identity,
                    transID: data.idx,
                    payment_method: data.type.name,
                    status: data.state.name,
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href=redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let orderID={{order.order_number}}
        let amount={{grand_total}}
        let redirect_url="{% url 'order_complete' %}"
        {% comment %} let url={% url 'verify_payments' %} {% endcomment %}

        let csrftoken=getCookie("csrftoken")
       
        let codData = 
                {
							"product_identity": orderID,
							"idx": generate_uuidv4(),
							"type": {"name":"COD"},
							"state": {"state":"Complete"},
                }
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_fc6d963f5e924d598ed21a718265ce54",
            "productIdentity": orderID,
            "productName": "cart items",
            "productUrl": window.location.href,
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                    fetch("http://127.0.0.1:8000/orders/verify_payments/",{
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							amount: payload.amount,
							token: payload.token,
						}),
					})
                    .then(response => response.json())
                    .then(data => sendData(data))
                    
                    


                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: amount*100});
        }

        let codbutton = document.getElementById('cod-button')
        codbutton.addEventListener("click", function(){
            sendData(codData)
        });
        
    </script>

{% endblock content %}